[submodule "vendors/openfga"]
	path = vendors/openfga
	url = https://github.com/openfga/openfga.git
[submodule "vendors/openfga-api"]
	path = vendors/openfga-api
	url = https://github.com/openfga/api.git
